*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {
    background: #40A3F8; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {background: #40A3F8;}
::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-left: 1.0625rem;
    color: rgba(117, 117, 117, 0.65);
} 
.text-sm{line-height: 30px;}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-start{
    display: block;
    align-content: flex-start;
}
.flex-end{
    display: flex;
    align-content: flex-end;
    margin-left: auto;
}
.dsp-block{display: block;}
.rounded-circle{border-radius:50%;}
.dsp-none{display: none;}
.dsp-flexx {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.dsp-flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dsp-flex-row-reverse{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dsp-flex-justify{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.dsp-flex-gap{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    align-items: center;
    gap: 30px;
}
.gap {gap: 50px;}
hr{background: #969696;}
.p-5{padding: 1.6rem .5rem;}
.p-2{padding:.5rem;}
.p-3{padding: 1rem}
.pl-1{padding-left: 1.0625rem;}
.pl-2{padding-left: 1.5625rem;}
.pl-3{padding-left: 1.875rem;}
.ps-rel{
    position: relative;
}
.ps-relative{
    bottom: 30px;
}
.ps-ab{
    position: absolute;
    top:280px;
    left: 118px;
}
.ps-abb{
    position: absolute;
    top:-33%;
    bottom: 0;
    right: 0;
}
.ps-absolute{
    position: absolute;
    top:-7%;
    right: 35px;
}
.smiling-doctor{
    max-width: 100%;
    object-fit: cover;
    height: 600px;
}
.text-blue{
    color: #40A3F8;
}
.text-dark{
    color: #000000;
}
.text-head-dark{
    color: #3E3E3E;
}
.text-light{
    color: #696969;
}
.lighter-text{
    color: rgba(117, 117, 117, 0.46);
}
.sub-text{
    line-height: 30px;
    letter-spacing: 0.02em;    
    color: rgba(61, 61, 63, 0.7);   
}
.small-text{
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}
.anchorr{color: #646464;}
.list-style-none{list-style-type: none;}
.list-item{padding:0px 30px;}
.list-item-p-sm{
    list-style-type: none;
    padding:0px 15px;
}
.img-fluid{
    max-width:100%;
    height:auto;
    object-fit: cover;
}
.header{
    /* background: #A6D5FD; */
    background: linear-gradient(rgb(229, 242, 252), rgb(235, 244, 249), rgb(221, 233, 243));
    /* mix-blend-mode: lighten; */
    /* opacity: 0.5; */
    /* filter: blur(400px); */
    /* height: 98.89vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.big-text{
    font-size: 3.9375rem;
    color: #FFFFFF;
}
.change{
    background-image: url(../../images/appointment-bg.svg);
    background-repeat: no repeat;
    background-position: top;
    background-size: cover;
    height: 340px;
}
nav{padding: 0px 130px;}
.mobile-icon{
    display: none;
}
#toggle-menu{
    display: none;
}
.w-15{width: 16%;}
.w-20{width: 20%;}
.w-28{ width: 28%;}
.w-40{width: 40%;}
.w-60{width: 60%;}
.w-90{width: 90%;}
.w-95{width: 95%;}
.w-100{width: 100%;}
.w-25{width: 25%;}
.w-30{width:30%;}
.w-35{width: 35%;}
.w-50{width: 50%;}
.w-70{width: 70%;}
.w-75{width: 78%;}
.w-80{width: 80%;}
.outline.none{outline: none;}
.border-style-none{
    border-style: none;
}
.px-1{
    padding-right:.25rem;
    padding-left:.25rem;
}
.m-3{margin: .5rem .85rem;}
.mx-auto{
    margin-right:auto;
    margin-left:auto;
}
.ms-auto{margin-left: auto;}
.ms-2{margin-left:.5rem;}
.ms-3{margin-left:1rem;}
.mr-4{margin-right: 5rem;}
.mr-5{margin-right:8rem;}
.me-auto{margin-right:auto;}
.me-2{margin-right:.5rem;}
.me-3{margin-right:1rem;}
.me-5{margin-right:3rem}
.mx-5{
    margin-right:3rem;
    margin-left:3rem;
}
.mt-1{margin-top:.25rem;}
.mt-2{margin-top:.5rem;}
.mt-3{margin-top:1rem;}
.mt-4{margin-top:1.5rem;}
.mt-5{margin-top:3rem;}
.mt-6{margin-top: 8rem;}
.mb-2{margin-bottom: .5rem;}
.mb-5{margin-bottom:3rem;}
.mb-6{margin-bottom:4rem;}
.card{
    word-wrap:break-word;
    background-clip:border-box;
    border: 1px solid #EEEFF1;
    box-sizing: border-box;
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
}
.card-top{
    height: 300px;
    background-image: url(../../images/online-doc-1.svg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: top;
}
.card-top-bg-2{
    background-image: url(../../images/online-doc-2.svg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: top;
}
.card-top-bg-3{
    background-image: url(../../images/online-doc-3.svg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: top;
}
.card-top-bg-4{
    background-image: url(../../images/online-doc-4.svg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: top;
}
.section-2{
    background-image: url(../../images/Layer-blur-5.png);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
}
.card-text-black{
    color: #3D3D3F;
    line-height: 22px;
}
.card-text{color: #999999;}
.flex-column{
    display:flex;
    flex-direction:column;
}
.book-appointment{
    background-image: url(../../images/appointment-bg.svg);
    background-repeat: no repeat;
    background-position: center;
}
.whitte-bg{
    background-color: #ffffff;
}
.white-bg{
    background: #FFFFFF;
    box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.bg-white{
    background: #FFFFFF;
    box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.off-white-bg{
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
}
.bg-off{
    background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}
.off{
    background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}
.blue-bg{
    background: linear-gradient(90.98deg, #40A3F8 0.91%, #2B59FF 99.26%);
    border-radius: 8.75px 8.75px 0px 0px;
}
.lighter-bg{
    background: linear-gradient(180deg, rgba(0, 158, 255, 0.1) 0%, rgba(56, 175, 255, 0.1) 100%);
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}
.light-bg{
    background: linear-gradient(90.26deg, #5AAEFF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
    opacity: 0.3;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);        
}
.brown-bg{
    background: radial-gradient(51.35% 53.44% at 48.82% 46.56%, rgba(255, 170, 6, 0.12) 0%, rgba(255, 180, 26, 0.12) 100%);
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
}
i{color: #fff;}
.border-radius-sm{border-radius:.3rem;}
.border-radius-lg{border-radius:.546875rem;}
.border-radius-md{ border-radius:0.3125rem}
/* Fonts */
.font-family-grotesk{font-family: 'Space Grotesk', sans-serif;}
.font-family-mont{font-family: 'Montserrat', sans-serif;}
.font-family-poppins{font-family: 'Poppins', sans-serif;}
.font-family-roboto{font-family: 'Roboto', sans-serif;}
.font-family-dm-sans{font-family: 'DM Sans', sans-serif;}
.f-w-600{font-weight: 600;}
.f-w-500{font-weight: 500;}
.f-w-700{font-weight: 700;}
.line-height-one{line-height: 21;}
.ln-2{line-height: 22;}
.ln-3{line-height: 69px;}
.ln-4{line-height: 23px;}
.ln-5{line-height: 16px;}
.ln-6{line-height: 14px;}
.ln-7{line-height: 24px;}
.ln-8 {line-height: 70px;}
.ln-9 {line-height: 32px;}
.ln-10{line-height: 47px;}
.ls-1{letter-spacing: -0.4375px;}
.opaque{opacity: 0.8;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-white{color: #fff;}
.text-decoration{text-decoration: none;}
.white-text-lg {
    font-size: 14px;
    color: #FFFFFF;
}
.font-size-1{font-size:1.25rem;}
.font-size-2 {font-size: .9373125rem;}
.font-size-3{font-size: .875rem; }
.font-size-4{font-size:1.125rem;}
.font-size-5{font-size:.875rem;}
.font-size-6{font-size: 1.09375rem;}
.font-size-7{
    font-size: 1.5rem;
    line-height: 37px;
}
.font-size-8{font-size: 1rem;}
.font-size-9{font-size: 3rem;}
.font-size-10{font-size: 2.6875rem;}
.font-size-11{font-size: 12px;}
/* Form */
.form-control:focus{
    color:#212529;
    background-color:#fff;
    border-color:#86b7fe;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
/* buttons */
.btn-white{
    background: #FFFFFF;
    color: #40A3F8;
    outline: none;
    border-style: none;
    padding: 15px 30px;
}
.white-text{
    color: #FFFFFF;        
}
.btn-primary{
    color:#fff;
    background-color:#40A3F8;
    border-color:#40A3F8;
}
.btn-primary:hover{
    color:#fff;
    background-color:#3b78eb;
    border-color:#3b78eb;
}
.py-2{
    padding-top:.5rem;
    padding-bottom:.5rem;
}
.py-3{
    padding-top:1.02rem;
    padding-bottom:1.02rem;
}
.px-4{
    padding-right:2.5rem;
    padding-left:2.5rem;
}
.cardiology-bg{
    background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
    filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
    border-radius: 10px;
}
.pt-2{
    padding-top: .5rem;
}
.pt-3{
    padding-top: 1.5rem;
}
.pt-4{
    padding-top: 2.5rem;
}
.pt-5{padding-top:3rem;}
.pb-1{padding-bottom: 1.5rem;}
.pb-2{padding-bottom: 2rem;}
.pb-4{padding-bottom:1.5rem;}
.dsp-grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
}
.mrgbtm{margin-bottom: 10px;}
.footer-input{
    background: #FFFFFF;
    border: 1.1px solid #E1E2E4;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    width: 16.8125rem;
    height: 40px;
}


@media screen and (max-width: 1024px){
    .div-width-tab{
        width: 85% !important;
    }
    .w-100-mini{
        width: 100%;
    }
    .img-screen-res {
        width: 100% !important;
        object-fit: cover;
    }
    .dsp-grid-res{
        display: grid !important;
        grid-template-columns:50% 50%;
        gap: 2% !important;
    }
    .me-5-res{margin-right: 1rem !important;}
    .small-card-md-w{
        width: 25% !important;
    }
    .card-md-w-20{
        width: 20% !important;
    }
    .ln-mini{
        line-height: 50px;
    }
    .font-size-9-mini{
        font-size: 30px;
    }
    .sub-text-mini{
        font-size: 16px;
        line-height: 14px;
    }
    .font-size-10-mini{
        font-size: 30px;
    }
    .logo{
        width: 15%;
    }
   
    .section-1-div-1{
        width: 40% !important;
    }
    .section-2-div-1{
        width: 40% !important;
    }
    .section-2-div-2{
        width: 100% !important;
    }
    .section-2-div-2-text{
       font-size: 2.5rem !important;
    }
    .section-2-div-2-sub-text{
        font-size: 1.025rem !important;
    }
    .card-mini{
        width: 25%;
    }
    .gap-mini{
        gap: 6px;
    }
    .card-mini{
        width: 25%;
    }
    .d-flex-mini{
        align-items: unset;
    }
    .card-text-mini{
        font-size: .75rem !important;
    }
    .ln-sm{
        line-height: 5px;
    }
    .ps-abb{
        position: absolute;
        top: -33%;
        bottom: 0;
        left: 200px;
    }  
    .ln-sm{
        line-height: 5px;
    }
    .change-head{
        text-align: center !important;
        padding: 45px !important;
        font-size: 35px !important;
    }
    .book-btn-mini{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        display: block;
    }
    .smiling-doctor{
        display: none;
    }
    .section-1-div-1{
        top: 165px;
    }
    .footer-input{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    nav{
        padding: 0px 55px; 
    }
    #navv .flex-end ul{
        display: none;
    }
    .flex-end-sm{
        flex-direction: column;
    }
    #toggle-menu{
        flex-direction: column;
    }
    .show{
        display: block !important;
        width: 30px;
        height: 60vh;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #40A3F8;
        border-bottom-left-radius: 30px;
        color: #fff;
    }
    .mobile-icon{
        display: block;
        margin-left: auto;
    }
    .head-img{
        display: none;
    }
    .header{
        height: 500px;
    }
    .section-1-div-1{
        width: 70%  !important;
        padding-top: 0px !important;
    }
    .font-size-10-tab {
        font-size: 1.6875rem;
    }
    .section-2-div-2-text {
        font-size: 32px !important;
    }
    .section-2-div-2-sub-text {
        font-size: 13px !important;
    }
    .mr-4-tab{
        margin-right: 20px !important;
    }
    .d-flex-tab{
        align-items: unset;
    }
    .ms-auto-tab{
        margin-left: 0px;
    }
    .mr-none{
        margin-right: 0px;
    }
    .card-top-bg-4, .card-top-bg-3, .card-top-bg-1, .card-top-bg-2, .card-top{
        background-size: unset;
    }
    .w-87-tab{
        width: 87%;
    }
    .btn-sm{
        width: 100px;
        color: #40A3F8;
    }
    #toggle-menu .flex-end ul li a{
        text-align: center;
        color: #fff;
    }
    #toggle-menu .flex-end ul li {
        padding-bottom: 20px !important
     }
    .flex-end{
        margin-top: 30px;
        
    }

}
@media screen and (max-width:480px){
    nav{
        display: none !important;
    }
    .mobile-icon{
        display: block !important;
        margin-left: auto;
    }
    #navv .flex-end ul{
        display: none;
    }
    .flex-end-sm{
        flex-direction: column;
    }
    #toggle-menu{
        flex-direction: column;
    }
    .show{
        display: block !important;
        width: 30px;
        height: 60vh;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #40A3F8;
        border-bottom-left-radius: 30px;
        color: #fff;
    }
    .btn-sm{
        width: 100px;
        color: #40A3F8;
    }
    #toggle-menu .flex-end ul li a{
        text-align: center;
        color: #fff;
    }
    #toggle-menu .flex-end ul li {
        padding-bottom: 20px !important
     }
    .flex-end{
        margin-top: 30px;
        
    }
    .head-img{
        display: none !important;
    }
    .header{
        height: 300px;
    }
    .find-text{
        text-align: center !important;
        font-size: 2rem !important;
        line-height: 50px;
        padding-top: 14px;
    }
    .pt-top-tab{
        padding-top: 14px;
    }
    .f-md-tab{
        font-size: 20px !important;
    }
    .f-sm-tab{
        font-size: 14px !important;
    }
    .ps-st{
        position: unset;
    }
    .dsp-none-tab{
        display: none;
    }
    .btn-primary-sm-tab{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        font-size: 12px !important;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .sub-text{
        line-height: 16px !important;
    }
    .ms-none{
        margin-left: 0px !important;
    }
    .mr-4-none{
        margin-right: 0px !important;
    }
    .d-flex-card{
        gap: 25px !important;
        align-items: unset !important;
    }
    .div-width-tab{
        width: 85% !important;
    }
    .div-width-lg-tab{
        width: 95% !important;
    }
    .p-3-tab{
        padding: 10px;
    }
    .change-head{
        font-size: 20px !important;
    }
    .pr-none{
        padding-right: 0px !important;
    }
    .w-60-mini{
        width: 50%;
    }
    .w-40-mini{
        width: 50%;
    }
    .w-100-md{
        width: 100% !important;
    }
    .dsp-grid{
        display: block;
        text-align: center;
        width: 50% !important;
    }
    .d-block-sm{
        display: block !important;
    }
    .text-center-md{
        text-align: center;
    }
    .mrg-btm-md{
        margin-bottom: 0px !important;
    }
    .dsp-li{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .pt-3-md{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .card-sm{
        width: 75% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .card-top{
        background-size: cover;
        background-repeat: no repeat !important;
    }
    .me-5{margin-right: 0px !important;}
    .dsp-grid-res{
        display: block;
    }
    .dsp-none-sm{
        display: none;
    }
    .w-sm{
        width: 80%;
    }
    .w-60-sm{
        width: 20%;
    }
    .best-quality{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .best-quality-text{
        line-height: 34px !important;
        font-size: 18px !important;
    }
    .mt-top-sm{
        margin-top: 30px;
    }
    .small-card-md-w {
        width: 70% !important;
        margin-bottom: 20px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .font-size-4{
        font-size: 20px !important;
    }
    .card-mini {
        width: 70%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .change-head {
        font-size: 28px !important;
    }
    .book-btn-mini {
        width: 70%;
    }
    .change{
        height: 255px;
    }
    .dsp-grid-sm{
        margin-top: 20px;
    }
    .list-item-sm{
        padding: 0px 12px;
    }
    .ln-mini {
        line-height: 35px;
    }
    .font-size-9-mini {
        font-size: 25px;
    }
    .mt-sm{
        margin-top: 20px;
    }
    .me-5-sm{
        margin-right: 0px !important;
    }
}

