*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #faf6f6;
    font-family: 'Inter', sans-serif;
}
.sticky-top{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:1020;

}
.col-4{flex:0 0 auto;width:30.33333333%}
.col-3-top{flex: 0 0 auto; width:32%;}
.col-4-top{flex: 0 0 auto; width: 25%;}
.d-flex{
    display:flex!important;
    align-content: center;
}
.notify{
    width: 25px;
}
.align-self-center{align-self:center!important}
.ms-auto{margin-left:auto!important}
.me-3{margin-right:1.5rem!important}
.mt-2{margin-top:.5rem!important}
.mt-3{margin-top:1rem!important}
.mt-4{margin-top:1.5rem!important}
.mt-5{margin-top:3rem!important}
.mb-4{margin-bottom:1.5rem!important}
.py-2{padding-top:.5rem!important;padding-bottom:.5rem!important}
.py-3{padding-top:1rem!important;padding-bottom:1rem!important}
.py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}
.mb-3{margin-bottom:1rem!important}
.ps-2{padding-left:.5rem!important}
.ps-4{padding-left:1.5rem!important}
.list-style-none{list-style-type: none;}
.mb-2{margin-bottom:.5rem!important}
.mb-4{margin-bottom:1.5rem!important}

.col-8{flex:0 0 auto;width:66.66666667%}
.bg-light{background: rgba(134, 146, 166, 0.05);}
.ms-2{margin-left:.5rem!important}
.ms-3{margin-left:1rem!important}
.ms-5{margin-left:3rem!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.m-5{margin:3rem!important}
.p-3{padding:1rem!important}
.p-4{padding:1.5rem!important}
.gap{
    gap: 20px;
}
.dsp-block{display: block;}
.align-items-end{align-items:flex-end}
.align-items-center{align-items: center;}
.img-fluid{max-width:100%;height:auto}
.pe-1{padding-right:.25rem!}
.pe-2{
    padding-left:.5rem
}
.pe-3{
    padding-left:1.5rem
}
.border-radius-sm{
    border-radius: .5rem;
}
.col-3{flex:0 0 auto;width:25%}
.col-2{
    flex:0 0 auto;
    width:16.66666667%
}
.text-blue{color: #40A3F8;}
.text-light{color: #8692A6;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-white{color: #fff;}
.text-dark{ color:#1D2B4F;}
.text-dark-2{color: #1D2B4F;}
.text-decoration{text-decoration: none;}
.font-family-poppins{font-family: 'Poppins', sans-serif;}
.font-family-nunito{font-family: 'Nunito Sans', sans-serif;}
.font-size-1{font-size: 26px;}
.font-size-2{font-size: 16px;}
.font-size-3{font-size: 14px;}
.line-height-1{line-height: 19px;}
.line-height-2{line-height: 17px;}
.space-between{justify-content:space-between;}
.f-w-600{font-weight: 600;}
.f-w-500{font-weight: 500;}
.f-w-700{font-weight: 700;}
.f-w-800{font-weight: 800;}
.row{
    display:flex;
    flex-wrap:wrap;
}
.navbar{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding-top:.5rem;
    padding-bottom:.5rem
}
.navbar-light{
    background-color: #ffffff;
    height: 69px;
}
.bg-white{
    background-color: #ffffff;
}
.light-bg{
   background-color: #53ACF9;
}
.blue-bg{
    background: #40A3F8;
    border-radius: 8.75px 8.75px 0px 0px;
}
.px-3{padding-right:1rem;padding-left:1rem}
.px-5{padding-right:3rem;padding-left:3rem}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {
    background: #40A3F8; 
    border-radius: 5px; 
}
::-webkit-scrollbar-thumb:hover {background: #40A3F8;}

.main{
    display: flex;
    width: 100%;
}
.sidebar{
    background: #40A3F8;
    min-width: 211px;
    max-width: 211px;
    height: 100vh;
    position: fixed;
}
.side-nav{
    height: 100%;
}
.side-menu:hover{
    background: #1D2B4F;;
    mix-blend-mode: normal;
    border-radius: 0px;   
}
.side-menu.active{
    background: #1D2B4F;;
    mix-blend-mode: normal;
    border-radius: 0px;   
}
.small-text{
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}
.pt-2{padding-top: .5rem;}
.pt-3{padding-top: 1.5rem;}
.pt-4{padding-top: 2.5rem;}
.pt-5{padding-top:3rem;}
.pb{padding-bottom: .5rem;}
.pb-1{padding-bottom: 1.5rem;}
.pb-2{padding-bottom: 2rem;}
.pb-4{padding-bottom:1.5rem;}
.justify-content-start{justify-content:flex-start!important}
.w-10{width: 10%;}
.w-20{width: 20%;}
.w-30{
    width: 30%;
}
.w-50{width: 50%;}
.w-70{width: 70%;}
.w-75{width: 78%;}
.w-80{width: 80%;}
.w-100{width: 100%;}
.outline-none{outline: none;}
.border-style-none{
    border-style: none;
}
.w-100-xx-lg{
    width: 100% !important;
}
.anchorr{
    color: #646464;        
}
.list-style-none{
    list-style-type: none;
}
.list-item{
    padding:0px 30px;
}
#patient_appointment{
    margin-top:3rem;
}
.patients {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top:1.5rem;
}
.info{
    display: flex;
    background: rgba(134, 146, 166, 0.05);
    border-radius: 8px;
    padding: 10px 15px;
    align-items: center;
}
.border-btm{
    border-bottom:3px solid #40A3F8;
    width: 15%;
}
#activity{
    margin-top: 3rem;
}
.activity-log{
    display: flex;
    justify-content: space-between;
}
.activiy-log p{
    padding-left: 1.5rem ;
    padding-bottom: .5rem;
}
.name{
    padding-left:.5rem
}
.side-link{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
}
#next-patients::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #40A3F8;
    bottom: 0;
    left: 0;

}
.side-link.active{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff !important;   
}
.side-link:hover{
    cursor: pointer;
}
.body-main{
    margin-left: 1px;
    width: 100%;
}
.ps-rel{
    position: relative;
}
#next-patients::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #40A3F8;
    bottom: 0;
    left: 0;
}
.toggle-d-none{
    display: none;
}
.form-input{
    background: #FDFDFD;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 48px;
    color: #BCBCBC;
}
.form-input:focus{
    background: #FDFDFD;
    border: 1px solid #009CAA;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6B6C6F;
    border-radius: 10px;
}

@media screen and (max-width:1441px) {
    #toggle-d-none{
        display: none;
    }
    .d-flex-x7x-lg{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .w-100-xx-lg{
        width: 100% !important;
    }
}
@media screen and (max-width:1440px){
    .sticky-xxl-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020;
    }
    .head-w-lg{
        width: 70% !important;
    }
    .link-w-lg{
        width: 20% !important;
    }
    .d-flex-lg{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 20px !important;
    }
   
}
@media screen and (max-width:1024px){
    .sticky-lg-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020;
    }
    .ml-5-md-none{
    margin-left: 25px !important;
    }
    .p-4-md-none{
    padding: 0px !important;
    }
    .font-size-small-md{
        font-size: 15px !important;
    }
    .w-100-md{
        width: 100% !important;
    }
    .col-4-top-md{
        width: 100% !important;
    }
    .col-8-md{
        width: 100% !important;
    }
    .display-block-md{
        display: block !important;
    }
    .mt-2-md{
        margin-top:1.5rem ;
    }
    .pt-3-md{
        padding-top: 5px !important;
    }
    .w-50-md{
        width: 50% !important;
    }
    .w-70-md{
        width: 70% !important;
    }
    .px-3-none-md{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .w-35-md{
        width: 35% !important;
    }
    .w-60-md{
        width: 60% !important;
    }
    .gap-md{
        gap: 20px;
    }
    .mt-md{
        margin-top:0.9375rem !important;
    }
    .border-btm-md{
        width: 8% !important;
    }
    .d-flex-mini{
        display: flex !important;
    }
    .mb-3-md{
        margin-bottom:1rem!important
    }
    .activity-log{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem !important;
        width: 65% !important;
    }
    .activity-log img{
        width: 5% !important;
    }
    .activiy-log p{
        width: 70% !important;
        padding-left: 1.5rem ;
        padding-bottom: .5rem;
    }
    .w-none-md{
        width: 100 !important;
    }
    .font-size-1-md{
        font-size: 30px;
    }
    .text-white-md{
        color: #fff; 
    }
    .btn-mini{
        width: 100% !important;
    }
}
@media screen and (max-width:900px){
    .sticky-lg-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020;
    }
    .ml-5-md-none{
    margin-left: 25px !important;
    }
    .p-4-md-none{
    padding: 0px !important;
    }
    .font-size-small-md{
        font-size: 15px !important;
    }
    .w-100-md{
        width: 100% !important;
    }
    .col-4-top-md{
        width: 100% !important;
    }
    .col-8-md{
        width: 100% !important;
    }
    .display-block-md{
        display: block !important;
    }
    .mt-2-md{
        margin-top:1.5rem ;
    }
    .pt-3-md{
        padding-top: 5px !important;
    }
    .w-50-md{
        width: 50% !important;
    }
    .w-70-md{
        width: 70% !important;
    }
    .px-3-none-md{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .w-35-md{
        width: 35% !important;
    }
    .w-60-md{
        width: 60% !important;
    }
    .gap-md{
        gap: 20px;
    }
    .mt-md{
        margin-top:0.9375rem !important;
    }
    .border-btm-md{
        width: 8% !important;
    }
    .d-block-md{
        display: block !important;
    }
    .mb-3-md{
        margin-bottom:1rem!important
    }
    .activity-log{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem !important;
        width: 65% !important;
    }
    .activity-log img{
        width: 5% !important;
    }
    .activiy-log p{
        width: 70% !important;
        padding-left: 1.5rem ;
        padding-bottom: .5rem;
    }
    .w-none-md{
        width: 100 !important;
    }
    .font-size-1-md{
        font-size: 30px;
    }
    .text-white-md{
        color: #fff; 
    }
}

@media screen and (max-width:768px){
    .sticky-md-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020
    }
    .d-none-md{
        display: none !important;
    }
    .font-size-2-md{
        font-size: 13px;
    }
    .font-size-1-md{
        font-size: 20px;
    }
    .display-block-md{
        display: block !important;
    }
    .col-4-top-md{
        width: 100% !important;
    }
    .col-8-md{
        width: 100% !important;
    }
    .m-5-tab{
        margin: 1rem !important ;
    }
    .current-time{
        font-size: 12px;
    }
    .py-2-none{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .sidebar{
        min-width: 62px;
        max-width: 62px;
        height: 100%;
    }
    .navbar{
        height: 40px !important;
        width: 100% !important;
    }
    .w-50-tab{
        width: 100% !important;
    }
    .p-3-tab{
        padding: .5rem !important;
    }
    .pt-3-tab{
        padding-top: .5rem !important;
    }
    .mt-4-tab{
        margin-top: .5rem !important;
    }
    .notify{
        width: 25px;
    }
    .info{
        padding: 8px 15px;
    }
    .mt-2-md{
        margin-top:1.5rem ;
    }
    .body-main{
        margin-left: 1px !important;
    }
    .toggle-d-block-sm{
        display: block !important;
    }
    .sidebar{
        display: none !important;
    }
    .display-sidebar{
        display: block !important;
    }
}
@media screen and (max-width:481px){
    .sticky-sm-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020
    }
}

@media screen and (max-width:480px){
    .sticky-sm-top{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        z-index:1020
    }
    .body-main{
        margin-left: 5px !important;
    }
    .m-5-tab{
        margin: .5rem !important ;
    }
    .navbar{
        display: none ;
    }
    .dsp-none{
        display: none;
    }
    .lg-w-sm{
        width: 100% !important;
    }
    .font-size-1-sm{
        font-size: 14px;
    }
    .py-4-sm{
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
    .d-block-sm{
        display: block !important;
    }
    .mt-5-sm{
       margin-top: .5rem !important; 
    }
    .mb-sm{
        margin-bottom: .5rem !important;
    }
    .btn-sm{
       width: 100% !important; 
    }
    .col-3-top{
        width: 100% !important;
    }
    .w-sm{
        width: 50% !important;
    }
   
    /* .toggle-d-block-sm{
        display: block !important;
    }
    .sidebar{
        display: none !important;
    }
    .display-sidebar{
        display: block !important;
    } */
}


